.app-wrapper {

grid-template-areas: 
"header header header"
"nav content ads" 
"footer footer footer" ;

    display: grid;
grid-template-rows: 60px 1fr 60px;
grid-template-columns: 2fr 8fr 2fr;
 /* grid-gap: 10px;  */

 
 height: 100vh; 
 margin: 0 auto


}


.app-wrapper-content {
    
        background-color: lightskyblue;
        grid-area: content;
    
    
}







